<h3>Gallery</h3>
{{#each model as |photo|}}
  <div class="photo">
    {{#link-to 'photos.photo'}}<img src={{photo.src}} alt={{photo.title}}>{{/link-to}}
    <div class="photoData">
      <label>Title: </label>{{photo.title}}<br>
      <label>Description: </label>{{photo.description}}<br>
      <label>Location: </label>{{photo.location}}<br>
      <label>F-Stop: </label>{{photo.aperture}}<br>
      <label>Shutter: </label>{{photo.shutter}}<br>
      <label>ISO: </label>{{photo.iso}}<br>
    </div>
  </div>
{{/each}}
<div class="main">
  {{outlet}}
</div>
